@model HomeViewModel

@{
    ViewData["Title"] = "Index";
}



@foreach (var lanche in Model.LanchesPreferidos)
    {
        <partial name="_LanchesResumo" model="lanche" />
    }

<h2>Index Stela Richard</h2>